.header {
 position: absolute;   
 padding-top: 57px;

}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo {
font-size: 30px;
font-weight: 700;
color: var(--secondary);
}
