.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-content {
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
}
.intro__description {
    width: 50%;
}

.intro__title {
    font-size: 28px;
    color: var(--primary);
}
.intro__subtitle {
    font-size: 64px;
    font-weight: 700;
    color: var(--secondary);
    margin: 29px 0 31px;
}